/*example*/
/*color*/
.bg-black{
    background-color: #000;
}
.f-light{
    color: #BCBCBC;
}
.bg-dark1{
    background-color: #1e1e1e;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}
.overaly li a{
    color: #676767;
}
.overaly li a:hover{
    color: #fff;
}
.button{
    background-color: #676767;
    color: #fff;
}
.button:hover{
    background-color: #fff;
    color: #000;
}

.rounded1{
    border-radius: 30px;
}
.border-radius{
    height: 50px;
    width: 50px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rounded2{
    border-radius: 10%;
}
.row-gap{
    row-gap: 40%;
}
.column-gap{
    column-gap: 2%;
}
.text-p{
    font-size: 80%;
}

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl{
    --bs-offcanvas-height: 70vh;
}
.w-9{
    width: 90%;
}

/*oregnal*/
.img-ridus{
    border-radius: 20% 0%;
}
.rounded{
    border-radius: 20%;
}
.icon-box {
    background-color:#323131;
    height: 70px;
    width:70px;
    border-radius: 50%;
    text-align: center;
}
.self-summary-header{
    font-size: 75px;
}
.self-summary-p{
    font-size: 16px;
}
.accordion-button::after{
   background-color: skyblue;
}

/*font family*/
.bungee-spice{
    font-family: Bungee Spice;
    font-size: 24px;
}
.Inclusive-Sans-italic{
    font-family: Inclusive Sans;
    font-style: italic;
    font-size: 16px;
}
.Inclusive-Sans-regular{
    font-family: Inclusive Sans;
    font-size: 19px;
}
.header1{
    font-family: Dela Gothic One;
    font-size: 64px;
}
.header2{
    font-family: Dela Gothic One;
    font-size: 48px;
}
.header3{
    font-family: Dela Gothic One;
    font-size: 30px;
    font-weight: 100;
}